
<!-- <app-user></app-user> -->
  <!-- <div id="time">
    <p ;">
  </div>
  <div id="hello">
    <h2 style="text-align: center;"></h2>
  </div> -->

  <div class="container-fluid">
    <p style="float:left">{{time}}</p><br><br>
    <!-- <p style="float:left">{{today|date:'dd/MM/yyyy'}}</p> -->

    <p style="text-align: center;">{{hello|uppercase}}</p>


  </div>


  <!-- <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date Of Birth</th>
     </tr>
    <tr>
      <td>{{userid}}</td>
      <td>{{username}}</td>
      <td>{{userdob}}</td>
    </tr>
  </table>

 -->








